<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.andrey.ponomarev">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityLab1"
            android:label="@string/title_activity_main_lab1"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab2"
            android:label="@string/title_activity_main_lab2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab3"
            android:label="@string/title_activity_main_lab3"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab4"
            android:label="@string/title_activity_main_lab4"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab5"
            android:label="@string/title_activity_main_lab5"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivityLab5_2Info"/>
        <activity
            android:name=".MainActivityLab6"
            android:label="@string/title_activity_main_lab6"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab7"
            android:label="@string/title_activity_main_activit_lab6"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab8"
            android:label="@string/title_activity_main_lab8"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab9"
            android:label="@string/title_activity_main_lab9"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab10"
            android:label="@string/title_activity_main_lab10"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
        <activity
            android:name=".MainActivityLab11"
            android:label="@string/title_activity_main_lab11"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andrey.ponomarev.MainActivity"/>
        </activity>
    </application>

</manifest>